{% extends 'base.html' %}
{% block title %}Home{% endblock title %} 
{% block body %}
    <div
      class="container d-flex justify-content-center align-items-center"
      style="height: 30vh"
    >
      <a href="/add" class="btn btn-outline-primary btn-lg px-5"> 
        Add a new ToDo
      </a>
      
    </div>
    <hr style="width: 100%; border-top: 2px solid #000;">
    <div class="container my-3">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="m-0">Your Todos</h2>
        <form class="d-flex" role="search" method="GET" action="/">
          <input
            class="form-control me-2"
            type="search"
            name="query"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>

     
          
          {% if allTodo | length == 0 %}
              <div class="alert alert-dark" role="alert">
  No Todos Found.Add your First Todo !!
</div>
            {% else %}
         <div class="container mt-4">
  {% for todo in allTodo %}
    <div class="card mb-3 shadow-sm">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title">{{ loop.index }}. {{ todo.title }}</h5>
          <small class="text-muted text-end">
            <strong>Date:</strong> {{ todo.planned_date }}<br>
            <strong>Time:</strong> {{ todo.planned_time.strftime('%H:%M') if todo.planned_time else '' }}
          </small>
        </div>
        <p class="card-text">{{ todo.desc }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center w-100">
            <div>
              <a href="/update/{{ todo.SNo }}" class="btn btn-outline-primary btn-sm me-2">Update</a>
              <a href="/delete/{{ todo.SNo }}" class="btn btn-outline-danger btn-sm">Delete</a>
            </div>
            <div class="ms-auto">
              <a href="/complete/{{ todo.SNo }}" class="btn btn-dark btn-sm">Complete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endif %}

    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
  {% endblock body %} 
